body {
	background-image: url('${pageContext.request.contextPath}/image/admin-bgp.png');
	background-size: cover;
	background-repeat: no-repeat;
	}

table {
    margin-right: auto;
    margin-left: auto;
}