body {
	background-image: url("/blog/image/slight_bgp.jpg");
	background-size: 100%;
}

#mainDiv {
	margin: 0 auto;
	width: 400px;
	height: 200px;
}

#aboveDiv {
	font-size: 30px;
	margin: 0 auto;
	padding: 40px;
}