#content,#header {
	width: 70%;
	margin:0 auto;
	padding: 5px;
	
}
blockquote {
	border-left: 3px solid #ccc;
	background-color: #F7F7F7;
	margin-left: 4em;
}

body{
	font-family: "微软雅黑";
	/* background-image: url("/blog/image/slight_bgp.jpg");*/
	background-size: 100%;
}