body {
	text-align:center;
	width:100%;
	height:100%;
	background-color:black;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
<!-- background-image: url('../image/welcome.png');-->
div footer h1{
	text-align: center;	
}

#record {
	font-size:120%;
	padding:5% 5% 5% 5%;
	text-align: center;	
	font-family: Cursive;
}

#click_in {
	color: #fff;
	font-family: Cursive;
	text-align: center;
}
/*点击前*/
a:link {
	font-size: 70%;
	color: #ccc;
	text-decoration: underline;
	TEXT-DECORATION: none;
}
/*点击后*/
a:visited {
	font-size: 70%;
	color: #ccc;
	text-decoration: underline;
	TEXT-DECORATION: none;
}
/*悬停*/
a:hover {
	font-size: 70%;
	color: #f00;
	text-decoration: underline;
	TEXT-DECORATION: none;
}
/*点击时 a:active*/